/* global styling */
body{
  font-family: 'Julius Sans One', sans-serif;
}

.align-center{
  text-align: center;
}

.transparent{
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
  background-attachment: fixed;
}

.alert{
  text-align: center;
  margin-bottom: auto;
  display: none;
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index:9999;
  border-radius:0px;
}

/* navbar styling */
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.nav-link{
  font-family: 'Julius Sans One', sans-serif;
  color: #000;
}

.brand-name{
  font-family: 'Pattaya', sans-serif;
  color: #000;
}

.navbar-brand{
  display: flex;
}

.navbar-brand h5{
  margin-top: 10px;
  margin-left: 10px;
}

/* jumbotron styling */
.heading{
  font-family: 'Abril Fatface', cursive;
}

.jumbotron{
  border-radius: 0;
}

.jumbotron-text{
  margin-top: 150px;
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.c-head{
  font-weight:900;
  font-size: 58px;
  mix-blend-mode: luminosity;
}

.c-par{
  font-weight: 900;
  mix-blend-mode: luminosity;
}

.jumbo-bg{
  background-image: url("../images/blur-burn-dark-1082343.jpg");
  background-position: center;
  background-size: cover;
  height: 480px;
}
/* cards styling */
.card{
  margin-bottom: 20px;
}

.flex{
  display: flex;
}

/* modal styling */
form {
  text-align: center;
}

.drop{
  width: 210px;
}

#location-hide{
  display: none;
}

#location-hide2{
  display: none;
}

.summary{
  text-align: left;
  margin-bottom: 0px;
  float: left;
}

.summary-items{
  display: flex;
  font-size: 12px;
  margin-bottom: 0;
}

.space{
  margin-bottom: 0;
}

.total{
  font-weight: 800;
}

#get-price:hover{
  text-decoration: none;
}

#pizza-quantity{
  width: 100px;
}

#pizza-quantity2{
  width: 100px;
}

.sum-price{
  cursor: pointer;
}

#checkout{
  display: none;
}

#checkout2{
  display: none;
}

/* about us */
.about{
  background-image: url("../images/italian-italy-pasta-3498.jpg");
  background-size: cover;
  background-position: center;
  height: 240px;
}

.us{
  font-size: 58px;
  margin-top: 20px;
}

/* founder */
.founder{
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

/* footer */
.footer-logo{
  display: flex;
}

.reduce{
  margin-top: 10px;
  margin-left: 5px;
}

.link{
  color: #000;
}
